

form{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;    
}

button{
    padding-left: 95px;
    padding-right: 95px;
    background-color: green;
}

input{
       padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.card{
    
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(45, 195, 255);
    color:white;
}

.Div1{
    
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color:black;
}